.links {
    display: flex;
    width: 100%;
    justify-content: center;
    position: absolute;
    bottom: 0;
    margin-bottom: 4rem;
}

.link {
    padding: 1rem;
    text-decoration: none;
    color: #50cd89;
    font-size: 20px;
}
