body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100vh !important;
    background: ghostwhite;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.sideStepper {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    width: 100% !important;
    margin-top: 3rem;
}

.signUpPage {
    display: flex;
    height: 100vh;
}

.signUpPageLeft {
    width: 66%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signUpPageRight {
    background: #006cea;
    background-image: url('../public/Effects.png');
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signUpPageRightLogo {
    background: url('../public/Logo.png');
    background-repeat: no-repeat;
    padding: 1.5rem;
    display: flex;
}

.cardBase {
}

.logo {
    margin-bottom: 4rem;
}
